@font-face {
    font-family: Cheltenham;
    src: url(/assets/fonts/NYTCheltenhamLight.otf);
}

@font-face {
    font-family: Franklin Gothic;
    src: url(/assets/fonts/NYTFranklinMedium.otf);
}

:root{
    --cheltenham: 'Cheltenham', Georgia, Times, serif;
    --franklin: 'Franklin Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Helvetica, sans-serif
    
}

body{
    background: black;
}

#container{
    /* width:100%;
    height: 90vh; */
    width:100vw;
    height:100vh;
    position:fixed;
    top:0px;
    left:0px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 24px;
    scroll-behavior: smooth;
    /* background: #221135; */
    background: black;
    overflow:hidden;
    color: white;
    opacity: 1;
    transition: opacity 800ms;
}

h5#header{
    font-family: var(--cheltenham);
    font-weight: normal;
    font-size:17px;
    margin: 0px;
    margin-bottom:1em;
    opacity:1;
    transition: opacity 2s;
    line-height:1.25;
    max-width: 230px;
    position:absolute;
    margin-bottom: 1em;
    transform:translateY(calc(-100% - 1em));
}

h5#header.invisible,
#submit.invisible{
    opacity:0;
}
#submit{
    position: absolute;
    /* bottom: 50px; */
    left: 0px;
    transform:translateY(100%);
    /* position: absolute; */
    /* bottom: 0px; */
    background:transparent;
    font-size: 14px;
    font-family: var(--franklin);
    color: rgb(191, 178, 232);
    border:0px;
    transition: 2s;
    padding:0px;
    cursor: pointer;
    /* text-decoration: underline; */
    background: #326891;
    border-radius: 5px;
    color: white;
    padding: 8px 30px;
}


#feelings-container{
    /* border:1px solid red; */
    position: absolute;
    top:50%;
    left: 5%;
    width:60%;
    max-width:300px;
    transform:translateY(-50%);
    border-radius: 0px 10000px 10000px 0px;
    /* height:150px; */
    max-width: 550px;
    /* overflow:hidden; */

    position:fixed;
}

#bg{
    background-image: url(/assets/img/space.jpg);
    background-size:100vmax;
    background-repeat:repeat;
    position:absolute;
    /* top:0px; */
    /* left: 0px; */
    /* object-fit: cover; */
    z-index:-3;

    width: 130vmax;
    height:130vmax;
    /* object-fit: cover; */
    display:block;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    animation: rotateBg 200s linear infinite;
    filter: blur(0px);
    transition: filter 800ms;
    /* filter: blur(10px); */
    /* display:none; */
}

canvas{
    position: absolute;
    animation: rotateCanvas 300s linear infinite !important;
    z-index: 0;
    /* left: 50% !important; */
    /* top: 50% !important; */
    filter: blur(0px);
    pointer-events: none;
    z-index: -2;
    /* border: 2px solid red; */
    top:0px !important;
    left:0px !important;
    transition: filter 800ms;
    /* transform:translate(-50%, -50%); */
}

#black-hole{
    position:fixed;
    top:50vh;
    left:50vw;
    transform:translate(-50%, -50%);
    width: 0px;
    height:0px;
    z-index:-1;
    transition: width 900ms ease-in-out, height 900ms ease-in-out;
}

#black-hole > * {
    position: absolute;
}

#black-hole #hole{
    width:100%;
    height:100%;
    background:black;
    border-radius:50%;
    box-shadow: 0px 0px 4px #7A767E;
    z-index:1;
}

#black-hole #ring1{
    width: 160%;
    height:160%;
    animation: rotateBlackHole 10s linear infinite;
}

#black-hole #ring2{
    width: 140%;
    height:140%;
    animation: rotateBlackHole 7s linear infinite;
}

#black-hole #ring3{
    width: 170%;
    height:160%;
    animation: rotateBlackHole 7s linear infinite;
}


.ring{
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.ring svg{
    width:100%;
    height:100%;
}

#black-hole.ready{
    width: 33.33vmin;
    height:33.33vmin;
}

#black-hole.done{
    transition: width 500ms ease-in, height 500ms ease-in;
    transform: translate(-50%, -50%) rotate(1000deg)
}

.absolute{
    position:absolute;
    animation: rotate 10s linear infinite;
}

#blinkingCursor{
    height:1.5em;
    width:1px;
    display: inline-block;
    background: white;
    animation: blink 800ms linear infinite;
    transform: translateY(-20%);
    position: absolute;
}
#placeholder{
    position: absolute;
    top:0px;
    left:0px;
}

#placeholder:before{
    content: ' How are you feeling?';
    color:#ababab;
    opacity:0.5;
    font-family: var(--cheltenham);
    font-size: 36px;
    padding-left: 0.25em;
}



/* div#feelings-input:focus #placeholder{
    display:none;
} */

#feelings-input{
    /* position:fixed; */
    /* left:calc(-100vw - 500px);
    top:calc(-100vh - 100px); */
    background: transparent;
    border:0px;
    outline: none;
    border-radius: 0px;
    color: white;
    font-family: var(--cheltenham);
    font-size: 36px;
    /* border: 1px solid red; */
    width:100%;
    position:relative;
}

#feelings-output{
    font-family: var(--cheltenham);
    color:white;
    font-size: 36px;
    width:100%;
    /* position: absolute; */
    left:0px;
    /* transform: translateY(-50%); */
    outline: none;
    top: 50%;
}

#feelings-output.hasText + #placeholder{
    visibility:hidden;
}


#feelings-input::placeholder{
    color:#ababab;
    opacity:0.6;
}

.clouds{
	/* z-index: 2; */
    /* background:transparent url('/assets/img/clouds.png') repeat top center; */
	animation: move-clouds-back 200s linear infinite;
    width:140%;
    /* height:100%; */
    mix-blend-mode: screen;
    opacity:0.1;
    position:fixed;
    top:0px;
    pointer-events: none;
    z-index:-2;
}

#clouds2{
    animation: move-clouds-back 260s linear infinite reverse;
    top:100px;
}

#container.done .clouds,
#container.done #bg,
#container.done canvas{
    filter: blur(15px);
}

#container.gone{
    opacity:0;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes blink{
    0%{
        opacity:1;
    }
    20%{
        opacity:1;
    }
    30%{
        opacity:0;   
    }
    60%{
        opacity:0
    }
    70%{
        opacity:1 
    }
    /* to{opacity:0} */
}

@keyframes rotateBg{
    0%{
        transform:translate(-50%, -50%) rotate(0deg) scale(1);
    }
    50%{
        transform:translate(-50%, -50%) rotate(180deg) scale(1.8);
    }
    100%{
        transform:translate(-50%, -50%) rotate(360deg) scale(1);
    }
}

@keyframes rotateCanvas{
    0%{
        transform:rotate(0deg) scale(1.3);
    }
    50%{
        transform:rotate(180deg) scale(1.8);
    }
    100%{
        transform:rotate(360deg) scale(1.3);
    }
}


@keyframes rotateBlackHole{
    0%{
        transform:translate(-50%, -50%) rotate(0deg) scale(1);
    }
    50%{
        transform:translate(-50%, -50%) rotate(180deg) scale(1.2);
    }
    100%{
        transform:translate(-50%, -50%) rotate(360deg) scale(1);
    }
}


@keyframes shufflePlaceholderOpacity{
    0%{opacity: 0;}
    5%{opacity:1;}
    20%{opacity:1;}
    25%{opacity: 0;}
    30%{ opacity:1;}
    45%{opacity:1;}
    50%{opacity:0;}
    55%{opacity:1;}
    70%{opacity:1;}
    75%{opacity:0;}
    80%{opacity:1;}
    95%{opacity:1;}
    100%{opacity:0;}
}

@keyframes shufflePlaceholderText{
    0%{content: "I’m feeling...";}
    24.9999%{content: "I’m feeling...";}
    25%{content: "Placeholder 2...";}
    49.999%{content: "Placeholder 2...";}
    50%{content: "prompt 3";}
    74.999%{content: "prompt 3";}
    75%{content: "prompt 4";}
    99.999%{content: "prompt 4";}
}



/* @keyframes shufflePlaceholder{
    0%{
        content: "I'm feeling sad...";
        opacity: 0;
    }
    5%{opacity:1;}
    20%{opacity:1;}
    25%{
        content: "I'm feeling defeated...";
        opacity: 0;
    }
    30%{ opacity:1;}
    45%{
        opacity:1;
        content: "I'm feeling defeated...";
    }

    50%{opacity:0;}
    51%{content: "I'm feeling something else..."}
    52%{opacity:0}

    55%{opacity:1;}
    70%{opacity:1;}
    75%{opacity:0;}
    76%{content: "When will it stop..."}
    77%{opacity:0}
    80%{opacity:1;}
    95%{opacity:1;}
    100%{
        opacity:0;
    }
} */



@keyframes move-clouds-back {
	0% {
        left:-50vw;
        transform:rotate(0deg)
    }
	50% {
        left:50vw;
        transform:rotate(-20deg)
    }
    100% {
        left:-50vw;
        transform:rotate(0deg)
    }
}


/* @media screen and (max-width: 1145px){
    #feelings-input{
        font-size: 3.1441vw;
    }
}

@media screen and (max-width: 900px){
    #feelings-container{
        width: 50%;
    }
} */

@media screen and (min-width: 1200px){
    h5#header{
        font-size: 1.416vw;
        max-width: 19.167vw;
    }
    #feelings-input, #feelings-output, #placeholder:before{
        font-size: 3vw;
    }
}

@media screen and (max-width: 740px){
    #placeholder:before{
        content: "I’m feeling...";
    }
    h5#header{
        position: static;
        transform: translateY(0px);
    }
    #feelings-container{
        width: 75%;
        left: 12.5%;
        top: 60px;
    }
    #feelings-output{
        font-size: 30px;
    }
    #feelings-container{
        transform: translateY(0px);
    }
    #black-hole.ready {
        width: 75vmin;
        height: 75vmin;
        max-width: 300px;
        max-height: 300px;
    }
}
